<table mat-table [dataSource]="psychologists" class="mat-elevation-z8">
  <ng-container matColumnDef="username">
    <th mat-header-cell *matHeaderCellDef> {{ 'PSYCHOLOGISTS.USERNAME_COLUMN' | translate }}</th>
    <td mat-cell *matCellDef="let element">
      {{element.username}} {{element.relation}}
    </td>
  </ng-container>

  <ng-container matColumnDef="firstName">
    <th mat-header-cell *matHeaderCellDef> {{ 'PSYCHOLOGISTS.FIRST_NAME_COLUMN' | translate }}</th>
    <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
  </ng-container>

  <ng-container matColumnDef="lastName">
    <th mat-header-cell *matHeaderCellDef> {{ 'PSYCHOLOGISTS.LAST_NAME_COLUMN' | translate }}</th>
    <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> {{ 'PSYCHOLOGISTS.ACTIONS_COLUMN' | translate }}</th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button aria-label="Psychologist page link" routerLink="/psychologist/{{element.id}}">
        <mat-icon>calendar_today</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
