<h1 mat-dialog-title>{{ 'EVENTS.DIALOG.TITLE' | translate }}</h1>
<div mat-dialog-content>
  <app-clients-autocomplete (setClientId)="onClientSelected($event)"></app-clients-autocomplete>
  <mat-form-field appearance="fill">
    <mat-label>{{ 'EVENTS.DIALOG.TITLE' | translate }}</mat-label>
    <input matInput [(ngModel)]="appointment.title">
  </mat-form-field>
  <mat-form-field>
    <mat-label>{{ 'EVENTS.DIALOG.START' | translate }}</mat-label>
    <input matInput
           [ngxMatDatetimePicker]="startPicker"
           [formControl]="startDateControl"
           [(ngModel)]="appointment.start">
    <mat-datepicker-toggle matSuffix [for]="$any(startPicker)"></mat-datepicker-toggle>
    <ngx-mat-datetime-picker #startPicker [showSpinners]="true" [showSeconds]="false"></ngx-mat-datetime-picker>
  </mat-form-field>
  <mat-form-field>
    <mat-label>{{ 'EVENTS.DIALOG.END' | translate }}</mat-label>
    <input matInput
           [ngxMatDatetimePicker]="endPicker"
           [formControl]="endDateControl"
           [(ngModel)]="appointment.end">
    <mat-datepicker-toggle matSuffix [for]="$any(endPicker)"></mat-datepicker-toggle>
    <ngx-mat-datetime-picker #endPicker [showSpinners]="true" [showSeconds]="false"></ngx-mat-datetime-picker>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="save()">{{ 'EVENTS.DIALOG.SAVE' | translate }}</button>
  <button mat-button (click)="close()">{{ 'EVENTS.DIALOG.CLOSE' | translate }}</button>
</div>
